nav.nav-main {
    background-color: #fff;
    border-bottom: 2px solid #000;
    z-index: 999;
}

.btn-back {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    text-decoration: none;
    background-color: #DC3545;
    color: #fff !important;
    padding: 8px 16px 8px 16px;
    border-radius: 1.5rem;
}

.btn-back:hover {
    color: #fff !important;
    background-color: rgb(207, 50, 65);
}

.length-counter {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    cursor: default;
}

@media (max-width: 576px) {
    .btn-back {
        font-size: 14px !important;
    }

    .length-counter {
        font-size: 16px;
    }
}