.navbar-title {
    font-family: 'Paytone One', sans-serif;
    font-size: 30px !important;
    color: #000;
    text-decoration: none;
}

.navbar-title:hover {
    color: #000;
}

.navbar-link a {
    font-family: 'Anek Latin', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.navbar-link a {
    color: #000 !important;
}

.change {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: #fff;
}

.active {
    border-bottom: 2px solid #000;
}

.toggle-menu {
    display: none;
    border: none;
    font-size: 24px;
    background-color: transparent;
}

.menu {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 160px;
    background-color: #eee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    z-index: 9999999;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.menu-list a {
    font-family: 'Anek Latin', sans-serif;
    text-decoration: none;
    color: #000;
    margin: 8px 0;
}

.menu-list a:hover {
    color: #000;
}

@media (max-width: 992px) {
    .navbar-link {
        display: none !important;
    }

    .toggle-menu {
        display: flex;
    }
}

@media (max-width: 576px) {
    .navbar-title {
        font-size: 24px !important;
    }
}