.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.display-404 {
    display: flex;
    flex-direction: column;
}

h1.text-error {
    display: flex;
    justify-content: center;
    font-style: italic;
    margin: 0;
    cursor: default;
}

h1.text-404 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 0;
    cursor: default;
}

.btn-beranda {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    text-decoration: none;
    background-color: #000;
    color: #fff !important;
    padding: 8px 16px 8px 16px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon {
    font-size: 20px;
}